<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>className</key>
    <string>UIView</string>
    <key>viewType</key>
    <string>UIView</string>
    <key>colors</key>
    <dict>
      <key>backgroundColor</key>
      <dict>
        <key>rgba</key>
        <dict>
          <key>r</key>
          <string>0.82190921530000005</string>
          <key>g</key>
          <string>0.86119981749999996</string>
          <key>b</key>
          <string>0.90776117700000003</string>
          <key>a</key>
          <string>1</string>
          <key>w</key>
          <integer>0</integer>
        </dict>
        <key>hexColor</key>
        <string>#D1DBE7</string>
      </dict>
    </dict>
    <key>subviews</key>
    <array>
      <dict>
        <key>className</key>
        <string>UIButton</string>
        <key>viewType</key>
        <string>UIButton</string>
      </dict>
      <dict>
        <key>className</key>
        <string>UILabel</string>
        <key>viewType</key>
        <string>UILabel</string>
        <key>colors</key>
        <dict>
          <key>textColor</key>
          <dict>
            <key>rgba</key>
            <dict>
              <key>r</key>
              <integer>0</integer>
              <key>g</key>
              <integer>0</integer>
              <key>b</key>
              <integer>0</integer>
              <key>a</key>
              <string>1</string>
              <key>w</key>
              <string>0.31170164230000003</string>
            </dict>
            <key>hexColor</key>
            <string>#4F4F4F</string>
          </dict>
          <key>shadowColor</key>
          <dict>
            <key>rgba</key>
            <dict>
              <key>r</key>
              <integer>0</integer>
              <key>g</key>
              <integer>0</integer>
              <key>b</key>
              <integer>0</integer>
              <key>a</key>
              <string>1</string>
              <key>w</key>
              <string>1</string>
            </dict>
            <key>hexColor</key>
            <string>#FFFFFF</string>
          </dict>
        </dict>
      </dict>
    </array>
  </dict>
</plist>