<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>className</key>
    <string>UITableView</string>
    <key>viewType</key>
    <string>UITableView</string>
    <key>colors</key>
    <dict>
      <key>backgroundColor</key>
      <dict>
        <key>rgba</key>
        <dict>
          <key>r</key>
          <string>0.1874662772</string>
          <key>g</key>
          <string>0.1874662772</string>
          <key>b</key>
          <string>0.1874662772</string>
          <key>a</key>
          <string>1</string>
          <key>w</key>
          <integer>0</integer>
        </dict>
        <key>hexColor</key>
        <string>#2F2F2F</string>
      </dict>
      <key>sectionIndexBackgroundColor</key>
      <dict>
        <key>rgba</key>
        <dict>
          <key>r</key>
          <integer>0</integer>
          <key>g</key>
          <integer>0</integer>
          <key>b</key>
          <integer>0</integer>
          <key>a</key>
          <string>1</string>
          <key>w</key>
          <string>0.33333333329999998</string>
        </dict>
        <key>hexColor</key>
        <string>#545454</string>
      </dict>
    </dict>
  </dict>
</plist>