<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>className</key>
    <string>WPGatesTableViewContainer</string>
    <key>viewType</key>
    <string>UIView</string>
    <key>colors</key>
    <dict>
      <key>backgroundColor</key>
      <dict>
        <key>rgba</key>
        <dict>
          <key>r</key>
          <integer>0</integer>
          <key>g</key>
          <integer>0</integer>
          <key>b</key>
          <integer>0</integer>
          <key>a</key>
          <string>1</string>
          <key>w</key>
          <string>1</string>
        </dict>
        <key>hexColor</key>
        <string>#FFFFFF</string>
      </dict>
    </dict>
    <key>subviews</key>
    <array>
      <dict>
        <key>className</key>
        <string>UITableView</string>
        <key>viewType</key>
        <string>UITableView</string>
        <key>colors</key>
        <dict>
          <key>backgroundColor</key>
          <dict>
            <key>rgba</key>
            <dict>
              <key>r</key>
              <integer>0</integer>
              <key>g</key>
              <integer>0</integer>
              <key>b</key>
              <integer>0</integer>
              <key>a</key>
              <string>1</string>
              <key>w</key>
              <string>1</string>
            </dict>
            <key>hexColor</key>
            <string>#FFFFFF</string>
          </dict>
        </dict>
      </dict>
      <dict>
        <key>className</key>
        <string>UIView</string>
        <key>viewType</key>
        <string>UIView</string>
        <key>colors</key>
        <dict>
          <key>backgroundColor</key>
          <dict>
            <key>rgba</key>
            <dict>
              <key>r</key>
              <integer>0</integer>
              <key>g</key>
              <integer>0</integer>
              <key>b</key>
              <integer>0</integer>
              <key>a</key>
              <integer>0</integer>
              <key>w</key>
              <integer>0</integer>
            </dict>
            <key>hexColor</key>
            <string>#000000</string>
          </dict>
        </dict>
        <key>subviews</key>
        <array>
          <dict>
            <key>className</key>
            <string>UIButton</string>
            <key>viewType</key>
            <string>UIButton</string>
          </dict>
        </array>
      </dict>
      <dict>
        <key>className</key>
        <string>WPGatesTableViewHeader</string>
        <key>viewType</key>
        <string>UIView</string>
        <key>colors</key>
        <dict>
          <key>backgroundColor</key>
          <dict>
            <key>rgba</key>
            <dict>
              <key>r</key>
              <integer>0</integer>
              <key>g</key>
              <integer>0</integer>
              <key>b</key>
              <integer>0</integer>
              <key>a</key>
              <string>1</string>
              <key>w</key>
              <string>1</string>
            </dict>
            <key>hexColor</key>
            <string>#FFFFFF</string>
          </dict>
        </dict>
        <key>subviews</key>
        <array>
          <dict>
            <key>className</key>
            <string>UILabel</string>
            <key>viewType</key>
            <string>UILabel</string>
            <key>colors</key>
            <dict>
              <key>textColor</key>
              <dict>
                <key>rgba</key>
                <dict>
                  <key>r</key>
                  <string>0.43529411759999997</string>
                  <key>g</key>
                  <string>0.4431372549</string>
                  <key>b</key>
                  <string>0.47450980390000003</string>
                  <key>a</key>
                  <string>1</string>
                  <key>w</key>
                  <integer>0</integer>
                </dict>
                <key>hexColor</key>
                <string>#6E7078</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>className</key>
            <string>UILabel</string>
            <key>viewType</key>
            <string>UILabel</string>
            <key>colors</key>
            <dict>
              <key>textColor</key>
              <dict>
                <key>rgba</key>
                <dict>
                  <key>r</key>
                  <string>0.43529411759999997</string>
                  <key>g</key>
                  <string>0.4431372549</string>
                  <key>b</key>
                  <string>0.47450980390000003</string>
                  <key>a</key>
                  <string>1</string>
                  <key>w</key>
                  <integer>0</integer>
                </dict>
                <key>hexColor</key>
                <string>#6E7078</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>className</key>
            <string>UIView</string>
            <key>viewType</key>
            <string>UIView</string>
            <key>colors</key>
            <dict>
              <key>backgroundColor</key>
              <dict>
                <key>rgba</key>
                <dict>
                  <key>r</key>
                  <integer>0</integer>
                  <key>g</key>
                  <integer>0</integer>
                  <key>b</key>
                  <integer>0</integer>
                  <key>a</key>
                  <string>1</string>
                  <key>w</key>
                  <string>0.66666666669999997</string>
                </dict>
                <key>hexColor</key>
                <string>#AAAAAA</string>
              </dict>
            </dict>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</plist>