<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>className</key>
    <string>WPTenantSelectionTableViewCell</string>
    <key>viewType</key>
    <string>UITableViewCell</string>
    <key>subviews</key>
    <array>
      <dict>
        <key>className</key>
        <string>UILabel</string>
        <key>viewType</key>
        <string>UILabel</string>
        <key>colors</key>
        <dict>
          <key>backgroundColor</key>
          <dict>
            <key>rgba</key>
            <dict>
              <key>r</key>
              <string>1</string>
              <key>g</key>
              <string>1</string>
              <key>b</key>
              <string>0.20000000000000001</string>
              <key>a</key>
              <string>1</string>
              <key>w</key>
              <integer>0</integer>
            </dict>
            <key>hexColor</key>
            <string>#FFFF33</string>
          </dict>
        </dict>
      </dict>
    </array>
  </dict>
</plist>